

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <dvi id='elzero-app'>
        <p v-once>welcome {{name}}</p>
    </dvi>
    <script src="js/vue.js"></script>
    <script>
      var vm =  new Vue({
            el:'#elzero-app',
            data:{
                name:'mohammed',
            }

        })
    
    </script>
</body>
</html> -->


<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <dvi id='elzero-app'>
        <p v-show>welcome {{name}}</p>
    </dvi>
    <script src="js/vue.js"></script>
    <script>
      var vm =  new Vue({
            el:'#elzero-app',
            data:{
                name:'mohammed',
            }

        })
    
    </script>
</body>
</html> -->


<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <dvi id='elzero-app'>

            <p v-show="name">Name: {{name}}</p>
            <p v-if="age">Age: {{age}}</p>
    </dvi>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.6/dist/vue.js"></script>
    <script>
      var vm =  new Vue({
            el:'#elzero-app',
            data:{
                name:'mohammed',
                age: '36'
            }

        })
    
    </script>
</body>
</html> -->



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <dvi id='elzero-app'>

            <p v-show="name">Name: {{name}}</p>
            <p v-if="age">Age: {{age}}</p>
    </dvi>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.6/dist/vue.js"></script>
    <script>
      var vm =  new Vue({
            el:'#elzero-app',
            data:{
                name:'',
                age: ''
            }

        })
    
    </script>
</body>
</html>