
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <dvi id='elzero-app'>
        <p>welcome {{name}}</p>
    </dvi>
    <script src="js/vue.js"></script>
    <script>
      var vm =  new Vue({
            el:'#elzero-app',
            data:{
                name:'mohammed',
            }

        })
    
    </script>
</body>
</html> -->



<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <dvi id='elzero-app'>
        <p>welcome {{name? name : 'no name'}}</p>
    </dvi>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.6/dist/vue.js"></script>
    <script>
      var vm =  new Vue({
            el:'#elzero-app',
            data:{
                name:'',
            }

        })
    
    </script>
</body>
</html> -->



<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <dvi id='elzero-app'>
        <h1>welcome To Vue js</h1>
        <p v-if='name'>welcome {{name}}</p>
    </dvi>
    <script src="js/vue.js"></script>
    <script>
      var vm =  new Vue({
            el:'#elzero-app',
            data:{
                name:'',
            }

        })
    
    </script>
</body>
</html> -->


<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <dvi id='elzero-app'>
            <h1>welcome To Vue js</h1>
            <p v-if='name'>welcome {{name}}</p>
            <p v-else>You Didnt Set Email Name</p>
    </dvi>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.6/dist/vue.js"></script>
    <script>
      var vm =  new Vue({
            el:'#elzero-app',
            data:{
                name:'',
            }

        })
    
    </script>
</body>
</html> -->




<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <dvi id='elzero-app'>
            <h1>welcome To Vue js</h1>
            <p v-if='name'>welcome {{name}}</p>
            <p>Hello Gise</p>
            <p v-else>You Didnt Set Email Name</p>
    </dvi>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.6/dist/vue.js"></script>
    <script>
      var vm =  new Vue({
            el:'#elzero-app',
            data:{
                name:'',
            }

        })
    
    </script>
</body>
</html> -->





<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <dvi id='elzero-app'>
            <h1>welcome To Vue js</h1>
            <p v-if='age > 50 '>You Are Too Old</p>
            <p v-else-if = "age > 15 && age < 40 ">You Are Not Too Old</p>
            <p v-else>You Are Young</p>
    </dvi>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.6/dist/vue.js"></script>
    <script>
      var vm =  new Vue({
            el:'#elzero-app',
            data:{
                name:'Mohammed',
                age: 8, //55 //16 //13
            }

        })
    
    </script>
</body>
</html>